* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

/* title page */

.title {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    margin: 5%;
    padding: 50px;
    width: 50%;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.parallax1 {
    /* The image used */
    background-image: url("images/parallax/bildings_black_white.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

/* navigation and search  */

.navbar {
    position: relative;
    background-color: rgb(241, 172, 68);
    height: 5vh;
    margin: 0;
}

.search>input {
    padding: 2px;
}

/* main content */

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    margin: 0;
    padding: 0;
}

.card-body {
    border: black 2px solid;
    width: 200px;
    margin: 1.5%;
    background-color: white;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-top: 1vw;
    border: black 2px solid;
}

.cont>img {
    padding: 10%;
    margin-left: 1vw;
    margin-top: 1vw;
}

.USD {
    margin-right: 1vw;
    margin-top: 1vh;
}

.EUR {
    margin-right: 1vw;
}

.ILS {
    margin-right: 1vw;
}

.card-title {
    font-weight: 900;
    font-size: large;
    color: rgb(241, 172, 68);
}

.card-text {
    font-weight: 600;
    font-size: medium;
}

.waiting-coin {
    background-color: black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    opacity: 1;
    border: 5px solid rgb(241, 172, 68);
    z-index: 2;
}

.waiting-popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 38, 38, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.screen-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.handle-toggle {
    background-color: white;
    width: 50vw;
    opacity: 1;
    border: 5px solid rgb(241, 172, 68);
    z-index: 4;
}

h3 {
    background-color: rgb(241, 172, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-top: 0;
}

.coin-choice {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid rgb(241, 172, 68);
    ;
}

.decision-buttons {
    background-color: rgb(241, 172, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.decision-buttons>button {
    padding: 4px;
    border-radius: 6px;
}

h2 {
    background-color: rgb(240, 116, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 10vh;
    border: 2px solid rgb(241, 131, 68);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(241, 172, 68);
    height: 45vh;
    margin: 0;
    padding: 0;
}

.about-img {
    width: 30vw;
    height: 45vh;
    margin: 0;
    padding: 3%;
    border: 2px solid rgb(241, 172, 68);
}

.about-info {
    width: 70vw;
    height: 45vh;
    margin: 0;
    border: 2px solid rgb(241, 172, 68);
    padding: 3%;
}

.msg {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 5%;
    font-weight: 700;
    background-color: rgb(241, 172, 68);
}