* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

/* title page */

.title {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    margin: 5%;
    padding: 50px;
    width: 75vw;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.parallax1 {
    /* The image used */
    background-image: url("images/parallax/bildings_black_white.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

/* navigation and search  */

.navbar {
    position: relative;
    background-color: rgb(241, 172, 68);
    min-height: 5vh;
    max-height: 12vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search>input {
    padding: 2px;
}

/* error msg for search */
.msg {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 5%;
    font-weight: 700;
    background-color: rgb(241, 172, 68);
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
}

/* home page - coins page content */

/* coin card */
.card-body {
    border: black 2px solid;
    max-width: 40vh;
    width: 30vh;
    min-width: 250px;
    margin: 1.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 35px;
}

.card-title {
    width: 50%;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: large;
    color: rgb(241, 172, 68);
}

.card-text {
    font-weight: 600;
    font-size: medium;
    min-height: 45px;
}

.moreInfoBTN{
    max-width: 50%;
    position: relative;
    bottom: 0;
    left: 25%;
}

/* more info collapse */

.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-top: 1vw;
    border: black 2px solid;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont>img {
    padding: 10%;
    margin-left: 1vw;
    margin-top: 1vw;
}

.USD {
    margin-right: 1vw;
    margin-top: 1vh;
}

.EUR {
    margin-right: 1vw;
}

.ILS {
    margin-right: 1vw;
}

/* waiting popup */

.waiting-coin {
    background-color: black;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    opacity: 1;
    border: 5px solid rgb(241, 172, 68);
    z-index: 2;
}

.waiting-popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 38, 38, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

/* handle toggle popup */

.screen-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.handle-toggle {
    background-color: white;
    width: 50vw;
    opacity: 1;
    border: 5px solid rgb(241, 172, 68);
}

/* content of toggle popup */

h3 {
    background-color: rgb(241, 172, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-top: 0;
}

.coin-choice {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid rgb(241, 172, 68);
    ;
}

.decision-buttons {
    background-color: rgb(241, 172, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.decision-buttons>button {
    padding: 4px;
    border-radius: 6px;
}

/* about page content */

h2 {
    background-color: rgb(240, 116, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 10vh;
    border: 2px solid rgb(241, 131, 68);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(241, 172, 68);
    height: 45vh;
    margin: 0;
    padding: 0;
}

.about-img {
    width: 30vw;
    height: 45vh;
    margin: 0;
    padding: 3%;
    border: 2px solid rgb(241, 172, 68);
}

.about-info {
    width: 70vw;
    height: 45vh;
    margin: 0;
    border: 2px solid rgb(241, 172, 68);
    padding: 3%;
}

/* toggle switch */

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
    /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
    /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 2px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(12px);
  }

    /* Rounded sliders */
.slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }